* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px red solid; */
}

body {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0.35turn, #214d9a, #299ba0, #2aa9a2);
    min-height: 100vh;
    color: #ffffff;

}

.notretempsaujourdhui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#map {
    height: 500px;
    width: 500px;
}

#map-link {
    text-decoration: none;
    color: #ffffff;
}



.night {
    background: linear-gradient(0.35turn, #0062ff, #07505c, #1f615a);
}

.patrick-hand-regular {
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

svg:not(.loop) {
    width: 10rem;
    cursor: pointer;
}

.loop {
    width: 1rem;
}

.container {
    width: 852px;
    max-width: 95%;
    margin: 0 auto;
    padding: 16px;
}

.wrapper {
    margin: 8px 0;
}

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: flex-start;
}

input {
    min-width: 20px;
    padding: 8px;
    margin: 0 4px 0 0;
    border-radius: 5px;
    height: 30px;
    background: none;
    color:#ffffff;
}

.button {
    padding: 8px 16px;
    min-height: 48px;
    min-width: 10px;
    word-wrap: nowrap;
    background: none;
    border: none;
}

input {
    order: 0;
    align-self: auto;
}

.search {
    flex: 2 1 auto;
}

.altitude {
    flex: 1 1 auto;
}

.longitude {
    flex: 1 1 auto;
}

.button {
    order: 4;
    flex: 0 1 auto;
    align-self: auto;
}

/* Responsivité */

@media (width <=600px) {

    .container{
        width: 95%;
    }

    .search-container,.container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-content: none;
        align-items: center;
        gap: 10px;

    }
input, button {
  width:10rem;
}


}


@media (width <=400px) {

    .search-container {
        display: grid;
        grid-template-columns: 1fr;


    }

    .container, .city, h1{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}